* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand";
}

.btn {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.btn.green {
  background: lime;
}

.btn.red {
  background: red;
}

.btn.submit {
  background: #0084ff;
}

.message {
  position: fixed;
  top: 1vh;
  margin: auto;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  color: white;
}

.message.incorrecto {
  background: red;
}

.message.correcto {
  background: lime;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 1000px;
  border-radius: 15px;
  overflow: hidden;
  background: #efefef;
}

body .container .ctn-app .title-app {
  padding: 15px;
  background: #dfdfdf;
  text-align: center;
  font-size: 1rem;
}

body .container .ctn-app .ctn-columns-app {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 15px;
}

body .container .ctn-app .ctn-columns-app .form-app {
  border-right: 2px solid #dfdfdf;
  padding-right: 10px;
}

body .container .ctn-app .ctn-columns-app .form-app .title-form h3 {
  font-size: 1.5rem;
}

body .container .ctn-app .ctn-columns-app .form-app .title-form p {
  font-size: 0.8rem;
}

body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend {
  margin: 10px 0;
}

body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text input {
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  margin: 5px 0;
  border: 2px solid #efefef;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text input:focus {
  border: 2px solid #cccccc;
}

body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text input::-webkit-outer-spin-button,
body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  font-size: 2rem;
}

body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text .selects select {
  padding: 10px 15px;
  background: #cccccc;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text .selects select option {
  font-size: 1rem;
  background: #efefef;
}

body .container .ctn-app .ctn-columns-app .ctn-categories {
  height: 100%;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-title p {
  padding: 5px 15px;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-title p:nth-child(1) {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends {
  height: 100%;
  padding: 0 15px;
  height: 100%;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .categories {
  max-height: 250px;
  overflow-y: auto;
  border-bottom: 2px solid #dfdfdf;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1px 4px;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .categories .ctn-category {
  margin: 5px 0;
  border-radius: 15px;
  background: #dfdfdf;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px 0;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .categories .ctn-category .left-category {
  background: #0084ff;
  padding: 5px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bolder;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .categories .ctn-category .left-category .img {
  font-size: 2rem;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .categories .ctn-category .totalSpend span {
  background: red;
  color: white;
  font-weight: bolder;
  padding: 2px 5px;
  border-radius: 10px;
  text-align: center;
  margin-left: 5px;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends {
  max-height: 250px;
  overflow-y: auto;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends {
  padding: 0 10px;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends .item-spend {
  position: relative;
  margin: 10px 0;
  border-radius: 20px;
  background: #dfdfdf;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends .item-spend .text-descrip {
  background: #efefef;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  gap: 0 10px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends .item-spend .text-descrip .img {
  background: #efefef;
  padding: 10px;
  font-size: 2rem;
  border-radius: 5px;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends .item-spend .text-descrip p:nth-child(2) {
  font-weight: bolder;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends .item-spend .text-descrip p:nth-child(3) {
  background: #cccccc;
  padding: 10px;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends .item-spend p:nth-child(2) {
  background: #efefef;
  border-radius: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends .item-spend p:nth-child(2) span {
  background: #0084ff;
  color: white;
  padding: 5px 8px;
  margin-left: 5px;
  border-radius: 10px;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends .item-spend .btnEliminar {
  position: absolute;
  top: 5%;
  right: 2%;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends .item-spend .btnEditar {
  position: absolute;
  top: 5%;
  right: 15%;
}

body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .ctn-allspends .spends .item-spend .spendDate {
  background: white;
  margin: 5px 0;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-weight: bolder;
}

body footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

body footer p {
  padding: 10px;
}

@media (max-width: 768px) {
  body {
    width: auto;
    height: auto;
    display: block;
  }
  body .container {
    max-height: none;
  }
  body .container .ctn-app {
    height: 100%;
  }
  body .container .ctn-app .ctn-columns-app {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 10px;
  }
  body .container .ctn-app .ctn-columns-app .form-app {
    border: none;
    border-bottom: 2px solid #dfdfdf;
    padding-right: 0;
  }
  body .container .ctn-app .ctn-columns-app .form-app .title-form h3 {
    font-size: 1.1rem;
  }
  body .container .ctn-app .ctn-columns-app .form-app .title-form p {
    font-size: 0.7rem;
  }
  body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend {
    margin: 10px 0;
  }
  body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text input[type="number"] {
    font-size: 1.5rem;
  }
  body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text textarea {
    max-height: 60px;
  }
  body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text .selects select {
    font-size: 1rem;
  }
  body .container .ctn-app .ctn-columns-app .form-app .ctn-form .fromApp .ctn-select-type-spend .ctn-input-text .selects select option {
    font-size: 0.8rem;
  }
  body .container .ctn-app .ctn-columns-app .form-app .ctn-btn-submit {
    margin: 10px 0;
  }
  body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-title p:nth-child(1) {
    font-size: 1.2rem;
  }
  body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends {
    height: 100%;
    display: block;
  }
  body .container .ctn-app .ctn-columns-app .ctn-categories .ctn-spends .categories .ctn-category .left-category .img {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */